.button {
    padding: 10px 20px;
    color: black;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s ease;
    border-radius: 3px;
    border: 1px solid gray;
}
.button:hover{
     background-color: darken(gray, 10%);
}






